@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
}

body {
    background-color: #F9F9F9;
}

.whatsapp-logo {
    position: absolute;
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-width: 375px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 80%;
    height: 150px;
    padding: 25px;
    border-bottom: Solid 1px black;
}

nav img {
    width: 200px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-width: 375px;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 50px;
}

.titulo h3 {
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
}

h3#sale {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.catalogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 50px;
    margin: 25px;
}

.catalogo-enlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 25px;
}

.catalogo-enlace img {
    width: 100%;
    max-width: 580px;
    height: auto;
    cursor: pointer;
}

div#portada-mobiliario {
    background-image: url('/assets/img/Piacere01.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    max-width: 580px;
}

div#portada-cocinas {
    background-image: url('/assets/img/Piacere02.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    max-width: 580px;
}

div#portada-banos {
    background-image: url('/assets/img/Piacere03.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    max-width: 580px;
}

.catalogo-enlace h3 {
    font-size: 18px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.catalogo-enlace h3 {
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    text-decoration: underline;
    cursor: pointer;
}

@keyframes moverBanda {
    from {
        background-position: 0 0; 
    }
    to {
        background-position: 100% 0; 
    }
}


#tira_marcas {
    background-color: #F9F9F9;
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    height: 35px;
    margin: 25px;
    animation: moverBanda 30s linear infinite; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    min-width: 375px;
}

footer  a {
    color: white;
    font-weight: 100;
    font-size: 12px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 45px;
    right: 30px;
}

.whatsapp-btn img {
    width: 60px;
}


.whatsapp-btn:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}